@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    section{
        @apply py-[75px]
    }
}
@layer components{
    .container{
        @apply max-w-full w-[1100px] px-5 mx-auto
    }
    .btn{
        @apply bg-primaryColor py-[10px] px-[25px] rounded-[50px] text-white font-[600] mt-[33px] 
    }
    .btn:hover {
         background-color:#05d79e; /* Change the text color to red on hover */
      }
    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-primaryColor
    }
    .text_para{
        @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px]
    }
    .header{
        @apply bg-[url('./assets/images/vector5.png')] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[25px]
        
    }
    .hero__section {
        @apply bg-[url('./assets/images/vector5.png')] bg-no-repeat bg-center bg-cover
    }
    
}
@media only screen and (max-width:1024px){
    .container{
        @apply w-full
    }
    section{
        @apply py-[35px]
    }
}
@media only screen and (max-width:768px){
    .heading{
        @apply text-[26px] leading-[36px];
    }
    .text_para{
        @apply text-[16px] leading-7 mt-3
    }
}